body{
    margin: 0;
    padding: 0;
    background: rgb(205, 216, 216);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.navbar-links ul{
    margin: 0 0 0 550px;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background: rgb(21, 205, 230);
    transition: 0.5s;
    text-transform: uppercase;
}

#outerbox{
    width: 600px;
    overflow: hidden;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sliderbox{
    position: relative;
    width: 2400px;
    animation-name: FON;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#sliderbox img{
    float: left;
}

@keyframes FON{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -600px;
    }
    45%{
        left: -600px;
    }
    50%{
        left: -1200px;
    }
    70%{
        left: -1200px;
    }
    75%{
        left: -1800px;
    }
    95%{
        left: -1800px;
    }
    100%{
        left: -2400px;
    }
}

.box{
    position: absolute;
    padding: 5px;
    background: #f1f1f1;
    margin-left: 600px;
}

.box a{
    width: 40px;
    height: 40px;
    float: left;
    text-indent: -9999px;
    margin: 5px;
}

#crvena{
    background: #ff1a1a;
}
#plava{
    background: #1a75ff;
}
#zuta{
    background: #ffff1a;
}
#zelena{
    background: #00ff00;
}
#siva{
    background: #cdd8d8;
}

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }

footer{
    text-align: center;
}
#ONama{
    text-align: center;
}

p{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 18px;
    
}
p::first-letter{
    font-size: 50px;
}

.container{
    display: flex;
}
.cont1{
    margin-left: 100px;
}
.cont3{
    margin-right: 100px;
}

@media  (max-width: 1220px){
    .cont1{
        display: none;
    }
    .cont3{
        display: none;
    }
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: fnone;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 975px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }
    
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

}






